/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background-color: rgb(26,26,26);
  max-width: 1280px;
  margin: 0 auto;
}

html {
  position: relative;
}

.title {
  position: fixed;
  right: 0;
  bottom: 1%;
	font-family: 'Rock Salt', cursive;
	font-size: 1.2em;
	padding: 10px;
	color: #ddd;
  z-index: 1000;

	a {
		text-decoration: none;
		color: #aaa;
		font-size: 1.0em;
		&:hover {
			color: #fff;
		}
	}

}

.editTitle {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    //width: 100%;
    border: none;
    &:focus {
        outline: none;
    }
}

.active {
			color: #fff;
}

a {
	text-decoration: none;
	color: #aaa;
	font-size: 1.0em;
	&:hover {
		color: #fff;
	}
}
nav {
  position: fixed;
  left: -175px; top: 10%;
  height: 80%;
  width: 200px;
  background-color: rgba(26,26,26,.8);
  border-radius: 10px;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  z-index: 100;
  a {
    &:hover {
      color: #fff;
    }
  }
}

#showNav {
  position: absolute;
  width: 25px; height: 25px;
  right: 0px; top: 45%;
  text-align: center;
  vertical-align: middle;
  z-index: 101;
}

.pageLinks, .galleryLinks {
  li {
    padding: .5em;
  }
}

.pageLinks{
  position: relative;
  top: 20%;
}
.galleryLinks {
  position: relative;
  top: 10%;
}

#main {
	clear: both;
}

#orderGallery {
	width: 90%;
	margin: 0 auto;
}

.productThumb {
	float: left;
	margin: 10px;
	height: 150px;
	text-align: center;
	img {
		margin: 5px;
		border: 1px solid black;
		box-shadow: 3px 3px 4px rgba(0,0,0,.8);
	}
}

.galleriesMain {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2%;
  left: 2%;
}

.galleryPreview {
  position: absolute;
  width: 256px;
  box-shadow: 2px 0px 10px rgba(0,0,0,.8);
  text-align: center;
  min-height: 100px;
  border-radius: 0 0 10px 10px;
  a:last-of-type img {
    border-radius: 0 0 10px 10px;
  }
  img {
    margin: -2px; padding: 0;
  }
  h1 {
    margin: 5px;
  }
}

.openGallery {
  position: absolute;
  width: 50px; height: 50px;
  top: 50%;
  right: -50px;
}



.largePhoto {
    text-align: right;
		margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
		padding: 20px;
    padding-bottom: 5px;
    width: 90%;
		background-color: #f5f5f5;
		border: 1px solid black;
		box-shadow: 0px 0px 10px rgba(0,0,0,.8) inset;
    border-radius: 10px;
    img {
      border: 2px solid black;
    }
	}

.added, .errorSelect {
  display: none;
  position: absolute;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  margin: 10px;
}

.cart {
	display: none;
	z-index: 1;
	position: absolute;
	border: 1px solid black;
	box-shadow: 3px 3px 4px rgba(0,0,0,.8);
	top: 2em;
	right: 0;
	background-color: rgba(50,50,50,.9);
	color: #dedede;
	font-family: 'Varela Round', sans-serif;
	h1 {
		font-size: 1.2em;
		padding: 5px;
	}
	span {
		padding: 5px;
	}
	button {
		margin: 5px;
		font-size: 1em;
	}
}

.cartItems {
	text-align: right;
}

.paypalSubmit {
	margin: 5px;
	font-size: 1.2em;
}

.right {
	float: right;
}

.itemTitle {
	color: #dedede;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.2em;
}

.photoTitle {
  color: #202020;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 5px;
  padding-top: 10px;
}

#printDetails {
	color: #dedede;
	font-family: 'Varela Round', sans-serif;
	h1, h2, p {
		margin: 5px;
		padding: 5px;
	}
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.2em;
		margin-left: 10px;
	}
	p {
		font-size: 1em;
		margin-left: 20px;
	}

}

.cc {
    display: none;
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    color: #dedede;
    clear: both;
}

.dbSetup {
    width: 500px;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: #dedede;
    h1 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
        color: #aa0000;
    }
    label{
        display: inline-block;
        float: left;
        clear: left;
        width: 200px;
        text-align: right;
        font-size: 1.1em;
    }
    input {
        display: inline-block;
        float: left;
    }
    input, label, h1, h3 {
        margin: 5px;
        padding: 5px;
    }
    #dbSubmit {
        font-size: 1.2em;
    }
}

.clear {
    clear: both;
}

.edit {
    height: 1em;
}

#login {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    border: 1px solid black;
    border-radius: 10px;
    input {
        border: 1px solid black;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
        color: #fff;
        background-color: #2a2a2a;
        width: 90%;
    }
    .submit {
        width: 50%;
    }
}

.drop {
    float: left;
    height: 150px;
    width: 200px;
    background-color: #2f2f2f;
    margin: 5px;
    border: 1px solid black;
}

.shadowBox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba( 0, 0, 0, .8);
    overflow: scroll;
    z-index: 100;
}

.newPhotoDetails {
    margin: 0 auto;
    padding: 5%;
    width: 90%;
    text-align: center;
}

.dropPhoto {
  float: left;
  width: 150px; height: 150px;
  border: 1px solid black;
}

.availablePhotos {
  //display: none;
  position: fixed;
  right: -175px; top: 10%;
  height: 80%;
  width: 200px;
  background-color: rgba(26,26,26,.8);
  border-radius: 10px;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  z-index: 100;
  padding-left: 25px;
  img {
    margin: 2px;
    padding: 3px;
    background-color: #dedede;
    border: 1px solid black;
  }
}

.scroll {
  height: 100%;
  overflow: scroll;
}

.showPhotos {
  width: 25px; height: 25px;
  position: absolute;
  left: 0px; top: 45%;
  text-align: center;
  vertical-align: middle;
  z-index: 101;
}

#showPhotosIcon {
  background-color: transparent;
  border: none;
  margin: 2px;
  padding: 0;
}

.removePhoto {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0; left: 40%;
  width: 200px; height: 150px;
  background-color: rgba(50,50,50,.9);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
}
