/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 16, ../sass/screen.scss */
body {
  background-color: #1a1a1a;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 22, ../sass/screen.scss */
html {
  position: relative;
}

/* line 26, ../sass/screen.scss */
.title {
  position: fixed;
  right: 0;
  bottom: 1%;
  font-family: 'Rock Salt', cursive;
  font-size: 1.2em;
  padding: 10px;
  color: #ddd;
  z-index: 1000;
}
/* line 36, ../sass/screen.scss */
.title a {
  text-decoration: none;
  color: #aaa;
  font-size: 1.0em;
}
/* line 40, ../sass/screen.scss */
.title a:hover {
  color: #fff;
}

/* line 47, ../sass/screen.scss */
.editTitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: none;
}
/* line 56, ../sass/screen.scss */
.editTitle:focus {
  outline: none;
}

/* line 61, ../sass/screen.scss */
.active {
  color: #fff;
}

/* line 65, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #aaa;
  font-size: 1.0em;
}
/* line 69, ../sass/screen.scss */
a:hover {
  color: #fff;
}

/* line 73, ../sass/screen.scss */
nav {
  position: fixed;
  left: -175px;
  top: 10%;
  height: 80%;
  width: 200px;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 10px;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  z-index: 100;
}
/* line 85, ../sass/screen.scss */
nav a:hover {
  color: #fff;
}

/* line 91, ../sass/screen.scss */
#showNav {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 45%;
  text-align: center;
  vertical-align: middle;
  z-index: 101;
}

/* line 101, ../sass/screen.scss */
.pageLinks li, .galleryLinks li {
  padding: .5em;
}

/* line 106, ../sass/screen.scss */
.pageLinks {
  position: relative;
  top: 20%;
}

/* line 110, ../sass/screen.scss */
.galleryLinks {
  position: relative;
  top: 10%;
}

/* line 115, ../sass/screen.scss */
#main {
  clear: both;
}

/* line 119, ../sass/screen.scss */
#orderGallery {
  width: 90%;
  margin: 0 auto;
}

/* line 124, ../sass/screen.scss */
.productThumb {
  float: left;
  margin: 10px;
  height: 150px;
  text-align: center;
}
/* line 129, ../sass/screen.scss */
.productThumb img {
  margin: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

/* line 136, ../sass/screen.scss */
.galleriesMain {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2%;
  left: 2%;
}

/* line 144, ../sass/screen.scss */
.galleryPreview {
  position: absolute;
  width: 256px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  min-height: 100px;
  border-radius: 0 0 10px 10px;
}
/* line 151, ../sass/screen.scss */
.galleryPreview a:last-of-type img {
  border-radius: 0 0 10px 10px;
}
/* line 154, ../sass/screen.scss */
.galleryPreview img {
  margin: -2px;
  padding: 0;
}
/* line 157, ../sass/screen.scss */
.galleryPreview h1 {
  margin: 5px;
}

/* line 162, ../sass/screen.scss */
.openGallery {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: -50px;
}

/* line 171, ../sass/screen.scss */
.largePhoto {
  text-align: right;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 20px;
  padding-bottom: 5px;
  width: 90%;
  background-color: #f5f5f5;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
  border-radius: 10px;
}
/* line 183, ../sass/screen.scss */
.largePhoto img {
  border: 2px solid black;
}

/* line 188, ../sass/screen.scss */
.added, .errorSelect {
  display: none;
  position: absolute;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  margin: 10px;
}

/* line 197, ../sass/screen.scss */
.cart {
  display: none;
  z-index: 1;
  position: absolute;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  top: 2em;
  right: 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
}
/* line 208, ../sass/screen.scss */
.cart h1 {
  font-size: 1.2em;
  padding: 5px;
}
/* line 212, ../sass/screen.scss */
.cart span {
  padding: 5px;
}
/* line 215, ../sass/screen.scss */
.cart button {
  margin: 5px;
  font-size: 1em;
}

/* line 221, ../sass/screen.scss */
.cartItems {
  text-align: right;
}

/* line 225, ../sass/screen.scss */
.paypalSubmit {
  margin: 5px;
  font-size: 1.2em;
}

/* line 230, ../sass/screen.scss */
.right {
  float: right;
}

/* line 234, ../sass/screen.scss */
.itemTitle {
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
}

/* line 240, ../sass/screen.scss */
.photoTitle {
  color: #202020;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 5px;
  padding-top: 10px;
}

/* line 249, ../sass/screen.scss */
#printDetails {
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
}
/* line 252, ../sass/screen.scss */
#printDetails h1, #printDetails h2, #printDetails p {
  margin: 5px;
  padding: 5px;
}
/* line 256, ../sass/screen.scss */
#printDetails h1 {
  font-size: 1.5em;
}
/* line 259, ../sass/screen.scss */
#printDetails h2 {
  font-size: 1.2em;
  margin-left: 10px;
}
/* line 263, ../sass/screen.scss */
#printDetails p {
  font-size: 1em;
  margin-left: 20px;
}

/* line 270, ../sass/screen.scss */
.cc {
  display: none;
  width: 250px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #dedede;
  clear: both;
}

/* line 280, ../sass/screen.scss */
.dbSetup {
  width: 500px;
  margin: 5% auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1f1f1f;
  color: #dedede;
}
/* line 288, ../sass/screen.scss */
.dbSetup h1 {
  font-size: 1.3em;
}
/* line 291, ../sass/screen.scss */
.dbSetup h3 {
  font-size: 1.2em;
  color: #aa0000;
}
/* line 295, ../sass/screen.scss */
.dbSetup label {
  display: inline-block;
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  font-size: 1.1em;
}
/* line 303, ../sass/screen.scss */
.dbSetup input {
  display: inline-block;
  float: left;
}
/* line 307, ../sass/screen.scss */
.dbSetup input, .dbSetup label, .dbSetup h1, .dbSetup h3 {
  margin: 5px;
  padding: 5px;
}
/* line 311, ../sass/screen.scss */
.dbSetup #dbSubmit {
  font-size: 1.2em;
}

/* line 316, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 320, ../sass/screen.scss */
.edit {
  height: 1em;
}

/* line 324, ../sass/screen.scss */
#login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: #1f1f1f;
  border: 1px solid black;
  border-radius: 10px;
}
/* line 332, ../sass/screen.scss */
#login input {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  color: #fff;
  background-color: #2a2a2a;
  width: 90%;
}
/* line 342, ../sass/screen.scss */
#login .submit {
  width: 50%;
}

/* line 347, ../sass/screen.scss */
.drop {
  float: left;
  height: 150px;
  width: 200px;
  background-color: #2f2f2f;
  margin: 5px;
  border: 1px solid black;
}

/* line 356, ../sass/screen.scss */
.shadowBox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  z-index: 100;
}

/* line 365, ../sass/screen.scss */
.newPhotoDetails {
  margin: 0 auto;
  padding: 5%;
  width: 90%;
  text-align: center;
}

/* line 372, ../sass/screen.scss */
.dropPhoto {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

/* line 378, ../sass/screen.scss */
.availablePhotos {
  position: fixed;
  right: -175px;
  top: 10%;
  height: 80%;
  width: 200px;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 10px;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  z-index: 100;
  padding-left: 25px;
}
/* line 391, ../sass/screen.scss */
.availablePhotos img {
  margin: 2px;
  padding: 3px;
  background-color: #dedede;
  border: 1px solid black;
}

/* line 399, ../sass/screen.scss */
.scroll {
  height: 100%;
  overflow: scroll;
}

/* line 404, ../sass/screen.scss */
.showPhotos {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 45%;
  text-align: center;
  vertical-align: middle;
  z-index: 101;
}

/* line 413, ../sass/screen.scss */
#showPhotosIcon {
  background-color: transparent;
  border: none;
  margin: 2px;
  padding: 0;
}

/* line 420, ../sass/screen.scss */
.removePhoto {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 40%;
  width: 200px;
  height: 150px;
  background-color: rgba(50, 50, 50, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
}
