/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 13, ../sass/screen.scss */
body {
  background-color: #1a1a1a;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/* line 20, ../sass/screen.scss */
header {
  width: 100%;
  background-color: rgba(26, 26, 26, 0.9);
  border-radius: 10px;
  position: relative;
}

/* line 27, ../sass/screen.scss */
.title {
  position: absolute;
  right: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 1.2em;
  padding: 10px;
  color: #ddd;
}
/* line 35, ../sass/screen.scss */
.title a {
  text-decoration: none;
  color: #aaa;
  font-size: 1.0em;
}
/* line 39, ../sass/screen.scss */
.title a:hover {
  color: #fff;
}
/* line 43, ../sass/screen.scss */
.title input {
  margin: 0;
  padding: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  color: #ddd;
  background-color: transparent;
  width: 100%;
  border: none;
}
/* line 52, ../sass/screen.scss */
.title input:focus {
  outline: none;
}

/* line 58, ../sass/screen.scss */
.active {
  color: #fff;
}

/* line 62, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #aaa;
  font-size: 1.0em;
}
/* line 66, ../sass/screen.scss */
a:hover {
  color: #fff;
}

/* line 70, ../sass/screen.scss */
nav {
  float: left;
  margin: 10px;
  font-family: 'Varela Round', sans-serif;
}
/* line 74, ../sass/screen.scss */
nav ul {
  list-style: none;
  position: relative;
  display: inline;
  padding: .5em;
}
/* line 79, ../sass/screen.scss */
nav ul ul {
  display: none;
  position: absolute;
  top: 20px;
  left: 10px;
}
/* line 84, ../sass/screen.scss */
nav ul ul li {
  float: none;
  margin-top: 5px;
  padding: 3px;
  position: relative;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.9);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
/* line 92, ../sass/screen.scss */
nav ul ul li + li:before {
  content: "";
  padding: 0;
}
/* line 98, ../sass/screen.scss */
nav ul li:hover > ul {
  display: block;
}
/* line 100, ../sass/screen.scss */
nav ul li:hover > ul li {
  display: block;
}
/* line 102, ../sass/screen.scss */
nav ul li:hover > ul li a {
  display: block;
  width: 100%;
}
/* line 108, ../sass/screen.scss */
nav ul li {
  margin: 2px;
  padding: 2px;
  display: inline;
}
/* line 113, ../sass/screen.scss */
nav ul li + li:before {
  color: #aaa;
  content: "\2022 ";
  padding: 0 5px;
  padding-right: 10px;
}
/* line 120, ../sass/screen.scss */
nav ul:after {
  content: "";
  clear: both;
  display: block;
}

/* line 125, ../sass/screen.scss */
#main {
  clear: both;
}

/* line 129, ../sass/screen.scss */
#orderGallery {
  width: 90%;
  margin: 0 auto;
}

/* line 134, ../sass/screen.scss */
.productThumb {
  float: left;
  margin: 10px;
  height: 150px;
  text-align: center;
}
/* line 139, ../sass/screen.scss */
.productThumb img {
  margin: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

/* line 146, ../sass/screen.scss */
.galleryThumb {
  margin: 10px;
  height: 150px;
  float: left;
}
/* line 150, ../sass/screen.scss */
.galleryThumb img {
  margin: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

/* line 157, ../sass/screen.scss */
.galleryPreview {
  margin: 10px;
  width: 100%;
  height: 200px;
  padding: 20px;
  overflow: auto;
  border: 1px solid black;
  background-color: #1f1f1f;
  max-width: 90%;
}

/* line 168, ../sass/screen.scss */
.largeImage {
  margin: 5px;
  padding: 10px;
  background-color: #dedede;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

/* line 176, ../sass/screen.scss */
.productLarge {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  margin: 20px;
  position: relative;
}
/* line 183, ../sass/screen.scss */
.productLarge .productName {
  margin: 5px;
  color: #aaa;
  font-size: 1.5em;
  font-family: 'Varela Round', sans-serif;
}
/* line 189, ../sass/screen.scss */
.productLarge select, .productLarge button {
  margin: 5px;
  font-size: 1.2em;
}
/* line 193, ../sass/screen.scss */
.productLarge .added, .productLarge .errorSelect {
  display: none;
  position: absolute;
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  margin: 10px;
}

/* line 203, ../sass/screen.scss */
.cart {
  display: none;
  z-index: 1;
  position: absolute;
  border: 1px solid black;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  top: 2em;
  right: 0;
  background-color: rgba(50, 50, 50, 0.9);
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
}
/* line 214, ../sass/screen.scss */
.cart h1 {
  font-size: 1.2em;
  padding: 5px;
}
/* line 218, ../sass/screen.scss */
.cart span {
  padding: 5px;
}
/* line 221, ../sass/screen.scss */
.cart button {
  margin: 5px;
  font-size: 1em;
}

/* line 227, ../sass/screen.scss */
.cartItems {
  text-align: right;
}

/* line 231, ../sass/screen.scss */
.paypalSubmit {
  margin: 5px;
  font-size: 1.2em;
}

/* line 236, ../sass/screen.scss */
.right {
  float: right;
}

/* line 240, ../sass/screen.scss */
.itemTitle {
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
}
/* line 244, ../sass/screen.scss */
.itemTitle input {
  color: #dedede;
  background-color: #1a1a1a;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.0em;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 254, ../sass/screen.scss */
#printDetails {
  color: #dedede;
  font-family: 'Varela Round', sans-serif;
}
/* line 257, ../sass/screen.scss */
#printDetails h1, #printDetails h2, #printDetails p {
  margin: 5px;
  padding: 5px;
}
/* line 261, ../sass/screen.scss */
#printDetails h1 {
  font-size: 1.5em;
}
/* line 264, ../sass/screen.scss */
#printDetails h2 {
  font-size: 1.2em;
  margin-left: 10px;
}
/* line 268, ../sass/screen.scss */
#printDetails p {
  font-size: 1em;
  margin-left: 20px;
}

/* line 275, ../sass/screen.scss */
.cc {
  display: none;
  width: 250px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #dedede;
  clear: both;
}

/* line 285, ../sass/screen.scss */
.dbSetup {
  width: 500px;
  margin: 5% auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1f1f1f;
  color: #dedede;
}
/* line 293, ../sass/screen.scss */
.dbSetup h1 {
  font-size: 1.3em;
}
/* line 296, ../sass/screen.scss */
.dbSetup h3 {
  font-size: 1.2em;
  color: #aa0000;
}
/* line 300, ../sass/screen.scss */
.dbSetup label {
  display: inline-block;
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  font-size: 1.1em;
}
/* line 308, ../sass/screen.scss */
.dbSetup input {
  display: inline-block;
  float: left;
}
/* line 312, ../sass/screen.scss */
.dbSetup input, .dbSetup label, .dbSetup h1, .dbSetup h3 {
  margin: 5px;
  padding: 5px;
}
/* line 316, ../sass/screen.scss */
.dbSetup #dbSubmit {
  font-size: 1.2em;
}

/* line 321, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 325, ../sass/screen.scss */
.edit {
  height: 1em;
}

/* line 329, ../sass/screen.scss */
#login {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: #1f1f1f;
  border: 1px solid black;
  border-radius: 10px;
}
/* line 337, ../sass/screen.scss */
#login input {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  color: #fff;
  background-color: #2a2a2a;
  width: 90%;
}
/* line 347, ../sass/screen.scss */
#login .submit {
  width: 50%;
}
